@page "/counter"
@inject IToastService Toast

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        ShowAddAlert();
    }

    public void ShowAddAlert()
    {
        Toast.ShowSuccess("This is Success message with title", "SUCCESS");
    }
}
