@page "/"
@page "/Menu"
@page "/Starter"
@page "/Main"
@page "/Dessert"

<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3">
                <NavLink class="nav-link active nav-tabs" href="/Starter">
                    Starters
                </NavLink>
            </div>
            <div class="col-6 col-lg-3">
                <NavLink class="nav-link nav-tabs" href="/Main">
                    Mains
                </NavLink>
            </div>
            <div class="col-6 col-lg-3">
                <NavLink class="nav-link nav-tabs" href="/Dessert">
                    Desserts
                </NavLink>
            </div>
        </div>
    </div>
</div>

<br />

<!--Checks if table is assinged, if no show pop-up dialog-->
@if (!tableAssigned)
{
    @if (closeDialog == false)
    {
        <Test OnClose="TableIdDialogClose"></Test> 
    }
}

<MenuTypeComponent PageName=@menuPageTitle ToastMsg="ToastSuccess"></MenuTypeComponent>





