@page "/"
@page "/Starter"
@page "/Main"
@page "/Dessert"

@layout MainLayout

<h1>Hello, world!</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-lg-3">
            <NavLink class="nav-link active" href="/Starter">
                Starters
            </NavLink>
        </div>
        <div class="col-6 col-lg-3">
            <NavLink class="nav-link active" href="/Main" @onclick="StateHasChanged">
                Mains
            </NavLink>
        </div>
        <div class="col-6 col-lg-3">
            <NavLink class="nav-link active" href="/" @onclick="StateHasChanged">
                Desserts
            </NavLink>
        </div>
        <div class="col-6 col-lg-3">
            <NavLink class="nav-link active" href="/">
                Drinks
            </NavLink>
        </div>
    </div>
</div>


<div>
    <MenuPage @ref="refMenuPage" MenuPageName=@menuPageTitle></MenuPage>
</div>
