<div class="bg-danger align-content-center">

    <Card Margin="Margin.Is4.OnY">
            <CardImage Source=@Image Alt="Placeholder image">
            </CardImage>
        <CardBody>
            <CardTitle Class="text-black-50" Size="5">@CardTitle</CardTitle>
            <CardText Class="text-body">
                @CardDesc
            </CardText>
            <Button Color="Color.Primary">Button</Button>
        </CardBody>
    </Card>

</div>

@code
{
    [Parameter]
    public string CardTitle { get; set; }
    [Parameter]
    public string CardDesc { get; set; }
    [Parameter]
    public string Image { get; set; }

    private string _image = $"/images/shrimpCocktail.jpg";
}

