<div class="container">
    <div class="row justify-content-center">
        @foreach (var item in menuList)
        {
            <div class="col-sm-12 col-lg-6">
                <MenuItemCard MenuItem="@item" Id="item.Id"></MenuItemCard>
            </div>
        }
    </div>
</div>


