@page "/item/{Id:int?}"

<h1>@menuItem.Name</h1>
<br />
<h3>Ingredients:</h3>
@foreach (var ingr in menuItem.ItemIngredients)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@ingr.Name</h5>
            <p class="card-text">@ingr.Category</p>
        </div>
    </div>
}



