<div class="container">
    <div class="row justify-content-center">
        <div class="col d-flex">
            @AddHere
        </div>
        <div class="col d-flex">
            @AddOtherHere
        </div>
    </div>
</div>


@code {
    [Parameter]
    public RenderFragment AddHere { get; set; }
    [Parameter]
    public RenderFragment AddOtherHere { get; set; }
}