@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-5">
            <button class="btn btn-secondary btn-block" @onclick="() => GoBack()">Back</button>
            <a href="Cart" class="oi oi-cart">Cart</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<BlazoredToasts  Timeout="2"></BlazoredToasts>

@code{

    private void GoBack()
    {
        jsRuntime.InvokeVoidAsync("history.back");
    }
}
