@inherits LayoutComponentBase

<div class="container">
    <div class="row">
        <div class="col">
            <NavLink class="nav-link active" href="Starters">
                Starters
            </NavLink>
        </div>
        <div class="col ">
            <NavLink class="nav-link active" href="Mains">
                Mains
            </NavLink>
        </div>
        <div class="col ">
            <NavLink class="nav-link active" href="/">
                Desserts
            </NavLink>
        </div>
        <div class="col ">
            <NavLink class="nav-link active" href="/">
                Drinks
            </NavLink>
        </div>
    </div>


    <div>
        @Body
    </div>


</div>