<div class="card">
    <div class="card-header">
        <h2>@Quantity</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title">@ItemName</h5>
        <button class="btn btn-danger" @onclick="() => RemoveItem(ItemName)">Remove</button>
    </div>
    <div class="card-footer">
        <h4 class="text-center">£@Total</h4>
    </div>
</div>


