@page "/Cart"
<h3>Cart</h3>

<!--Loop through the order items which show the quantity of the same menu item-->
@foreach (var item in Order.OrderItemsEntities)
{
    //If item has no customisation then assign default options
    if (item.Sauce == null)
    { item.Sauce = new Application.DTOs.SauceDTO(); }

    item.MenuItem.Sauce = item.Sauce;
    <CartMenuItemCard MenuItem="item.MenuItem" ItemName="@item.MenuItem.Name" Quantity="@item.Quantity"
                      SauceName="@item.Sauce.Name" Total="item.MenuItem.Price * item.Quantity"
                      AddCallBack="() => OrderSameAgainMenuItem(item.MenuItem)"
                      RemoveCallBack="() => RemoveItem(item.MenuItem)"></CartMenuItemCard>
}

@if (Order.OrderItemsEntities.Count == 0)
{
    <button class="btn btn-secondary btn-block disabled">Done</button>
}
else
{
    <div>
        <span class="d-block text-center text-dark" style="font-size:22.0pt; font-weight:bolder">
            Total: £@OrderTotal
        </span>
        <button class="btn btn-success btn-block" @onclick="Commit">Done</button>
    </div>
}


